<app-error-page [code]="403">
  <div class="relative w-90 h-80 mx-auto mb-8 rounded-md">
    <img fill ngSrc="https://img0.huoshen80.top/i/2025/11/30/692b1c89bcea0.png" alt="403 character"
         class="w-full h-full object-contain animate-float"/>
  </div>

  <div class="space-y-4 mb-8">
    <div content>
      <h2 class="text-2xl text-orange font-bold">
        这不是你该来的地方╰（‵□′）╯给我回去
      </h2>
    </div>
  </div>

  <div class="flex items-center justify-center gap-4">
    <r-button (click)="goBack()" type="warning" size="lg">
      滚回去
    </r-button>
  </div>

</app-error-page>