<div class="max-w-98% w-6xl mx-auto flex-1 pb-6">
  <div class="bg-bg-surface rounded-lg overflow-hidden border border-border-base hover:shadow-md transition-shadow">
    <div class="pt-8 px-8">
      <div class="flex items-center justify-between mb-6">
        <div class="text-accent">
          发布于 {{ news.created * 1000 | date:'yyyy-MM-dd HH:mm' }}
          @if (news.modified !== news.created) {
            <span class="ml-2">
            (编辑于 {{ news.modified * 1000 | date:'yyyy-MM-dd HH:mm' }})
          </span>
          }
        </div>
        @if (news.private) {
          <r-tag type="error">私密</r-tag>
        }
      </div>

      <div class="text-text-base whitespace-pre-wrap break-all text-4">{{ news.text }}</div>

      <div class="mx-auto flex gap-2 mt-6">
        <r-button size="lg" type="warning" (click)="likeNews()">
          点赞
        </r-button>
        <r-button size="lg" type="secondary" (click)="shareNews()">
          分享
        </r-button>
      </div>

      @if (news.imgs.length > 0) {
        <div class="grid grid-cols-2 md:grid-cols-3 gap-6 mt-8">
          @for (img of news.imgs; track $index) {
            <a [href]="img" target="_blank" class="relative block hover:opacity-90 transition-opacity">
              <img alt="news image" [ngSrc]="img" fill class="w-full rounded-lg"/>
            </a>
          }
        </div>
      }
    </div>
  </div>
</div>