<footer class="py-4 px-6 bg-brand-border border-0 border-t border-accent border-solid">
  <div class="flex justify-between items-center text-sm text-accent">
    <div>
      © 2019 - {{ copyrightYear }} Romi Admin
    </div>
    <div class="items-center gap-2 hidden md:flex">
      <span>Made with ❤️ by</span>
      <a href="https://github.com/biyuehu" target="_blank"
         class="text-brand hover:text-brand-hover transition-colors">
        Arimura Sena
      </a>
    </div>
  </div>
</footer>