<div class="min-h-screen bg-bg-page">
  <div class="flex">

    <div [class]="[
    'fixed lg:relative lg:flex z-40 transition-transform duration-300 ease-in-out w-full h-full',
  ]">
      @if (isSidebarOpen()) {
        <app-admin-sidebar [isSidebarOpen]="isSidebarOpen"/>
      }
    </div>

    <div class="flex-1 flex flex-col min-w-0 min-h-screen">
      <app-admin-header [isSidebarOpen]="isSidebarOpen"/>
      <main class="flex-1 p-4 lg:p-6">
        <div class="max-w-full lg:max-w-80% w-full lg:w-360 mx-auto">
          <router-outlet/>
        </div>
      </main>
      <app-admin-footer/>
    </div>
  </div>
</div>