<div class="max-w-98% w-6xl mx-auto space-y-6">
  @if (isLoading && !items.length) {
    <app-skeleton-loader />
  } @else {
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      @for (item of items; track $index) {
        <app-card class="group flex flex-col lg:flex-row gap-6">
          <a [href]="'https://bgm.tv/subject/' + item.subject_id" target="_blank" class="block">
            <div class="flex gap-4 p-4">
              <img width="180" height="240" [ngSrc]="item.subject.images.medium" [alt]="item.subject.name"
                   class="group-hover:scale-105 max-w-45% object-cover rounded-lg" />

              <div class="flex-1 space-y-2 min-w-0">
                <div class="text-text-base group-hover:text-brand text-lg font-bold truncate">
                  {{ item.subject.name }}
                </div>

                <div class="flex flex-wrap gap-2">
                  @for (tag of item.tags; track tag) {
                    <r-tag type="accent" size="sm">{{ tag }}</r-tag>
                  }
                </div>

                <p class="text-accent line-clamp-3">
                  {{ item.subject.short_summary }}
                </p>

                <div class="text-sm text-text-muted">
                  @if (item.subject.eps) {
                    <span class="font-bold">全 {{ item.subject.eps }} 话</span>
                    <span class="mx-2">•</span>
                  }
                  <span>{{ item.subject.date }}</span>
                </div>
              </div>
            </div>
          </a>
        </app-card>
      }
    </div>

    <div class="flex justify-center">
      @if (isAnime) {
        <r-button type="secondary" (click)="loadMore()">加载更多</r-button>
      } @else {
        <r-button type="warning" (click)="loadMore()">加载更多</r-button>
      }
    </div>
  }
</div>