<app-post-content [hideOptions]="true" [hideRelatedPosts]="true" [hideCopyright]="true"
                  [hideToc]="true" [post]="post">
  <div post-after class="mt-8">
    <h1 class="text-2xl font-bold text-text-base mb-6 flex items-center gap-2">
      友链列表
    </h1>
    @if (links.length === 0) {
      <div class="text-center py-12 text-accent">
        暂无友链
      </div>
    } @else {
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        @for (item of links; track $index) {
          <app-card class="group">
            <a [href]="item.link" target="_blank" class="block flex items-center gap-4">
              <div class="w-12 h-12 relative">
                <img fill [ngSrc]="item.avatar" [alt]="item.name"
                     class="rounded-lg object-cover bg-bg-elevated flex-shrink-0"/>
              </div>
              <div class="flex-1 min-w-0 flex flex-col">
                <h3 class="text-brand font-medium truncate">{{ item.name }}</h3>
                @if (item.description) {
                  <span class="text-sm text-accent break-words break-all"
                        [title]="item.description">{{ item.description }}</span>
                }
              </div>
            </a>
          </app-card>
        }
      </div>
    }
  </div>
</app-post-content>