<app-admin-base-list [items]="pagedItems" [isLoading]="isLoading" [currentPage]="currentPage" [pages]="pages"
                     (pageChange)="goToPage($event)">
  <div search-area class="flex flex-wrap items-center gap-4">
    <div class="flex-1">
      <r-input type="text" [(ngModel)]="searchQuery" placeholder="搜索评论内容或用户名..." class="w-full"/>
    </div>
  </div>

  <div list-content class="divide-y divide-border-base">
    @for (comment of pagedItems; track comment.cid) {
      <div class="p-6 hover:bg-bg-subtle">
        <div class="flex items-start justify-between gap-4">
          <div class="flex-1 space-y-2">
            <p class="text-text-base w-50 lg:w-150 break-words"
               [title]="comment.text">{{ formatText(comment.text) }}</p>

            <div class="flex items-center gap-4 text-sm">
              <div class="flex items-center gap-2 text-accent">
                @if (comment.user_url) {
                  <a [href]="comment.user_url" target="_blank" class="text-brand hover:text-brand-hover">
                    {{ comment.username }}
                  </a>
                } @else {
                  <span>{{ comment.username }}</span>
                }
              </div>

              <div class="text-text-sub">
                {{ comment.created * 1000 | date:'yyyy-MM-dd HH:mm' }}
              </div>
            </div>
          </div>

          <div class="">
            <r-button [routerLink]="['/post', comment.pid]" type="secondary">查看文章</r-button>
            <r-button (click)="deleteItem(comment.cid)" type="error">删除评论</r-button>
          </div>
        </div>
      </div>
    }
  </div>
</app-admin-base-list>