<div class="max-w-98% w-6xl mx-auto flex-1">

  @if (isLoading) {
    <app-skeleton-loader/>
  } @else {
    <div class="bg-bg-elevated rounded-xl overflow-hidden border border-border-base hover:shadow-sm transition-shadow p-6">
      <div id="aplayer"></div>
      <div class="mt-4 text-text-sub">
        网易云歌单数据抓取支持: <a href="https://github.com/BIYUEHU/romi-nest/tree/main/library/fetcher"
                                   target="_blank" class="text-brand hover:text-brand-hover">RomiFetcher</a>，播放器支持：<a
              href="https://github.com/DIYgod/APlayer" target="_blank"
              class="text-brand hover:text-brand-hover">APlayer</a>
      </div>
    </div>
  }
</div>