<app-layout [fullBackground]="true" [disabledFooter]="true">
  <div background class="flex flex-col items-center justify-center px-4 my-auto">
    <h1 class="text-6xl font-bold text-bg-200 mb-12 hidden md:block"></h1>
    @if (isLoading) {
      <div class="text-center">
        <r-loading label="加载中..."/>
      </div>
    } @else {
      <div class="text-center space-y-6">
        <p class="text-xl text-primary-200">
          {{ hitokoto.msg }}
          @if (hitokoto.from.trim()) {
            <span class="text-accent-100"> ——{{ hitokoto.from }}</span>
          }
        </p>

        <div class="flex items-center justify-center gap-4 text-sm">
          <r-tag size="lg" [type]="getTagType(hitokoto.type)">{{ getTypeName(hitokoto.type) }}</r-tag>
          <r-tag size="lg" type="primary">Likes: {{ hitokoto.likes }}</r-tag>
        </div>

        <div class="flex items-center justify-center gap-2">
          <r-button type="error" size="lg" (click)="likeHitokoto()" [disabled]="isLiked">
            点赞
          </r-button>
          <r-button type="secondary" size="lg" (click)="nextHitokoto()">
            下一条
          </r-button>
          <r-button size="lg" (click)="shareHitokoto()">
            分享
          </r-button>
        </div>
      </div>
    }
  </div>
</app-layout>