<app-error-page [code]="404">
  <div class="relative w-40 h-40 mx-auto mb-8 rounded-md">
    <img fill ngSrc="/assets/404.jpg" alt="404 character" class="w-full h-full object-contain animate-float"/>
  </div>

  <div class="space-y-4 mb-8">
    <div content>
      <h2 class="text-2xl font-bold text-text-base">
        呜哇...页面找不到了呢 (ノ｀Д)ノ
      </h2>
      <p class="text-accent">
        你要找的页面她奏了...要不要先去别的地方看看？
      </p>
    </div>
  </div>

  <div class="flex items-center justify-center gap-4">
    <r-button routerLink="/" type="primary" size="lg">
      去主页
    </r-button>
    <r-button (click)="goBack()" type="secondary" size="lg">
      回上页
    </r-button>
    <button type="button" (click)="seekSena('https://himeno-sena.com')"
            class="text-white bg-#E8AC96 hover:bg-#BF7D74 focus:ring-#EBBEB1 cursor-pointer items-center justify-center whitespace-nowrap rounded-md font-sans text-xs font-semibold leading-4 border-none shadow-sm disabled:cursor-not-allowed disabled:opacity-30 focus:outline-none focus:ring-offset-2 px-4 py-3">
      你别奏
    </button>
  </div>

</app-error-page>