<div class="w-6xl max-w-90% mx-auto flex-1">

  <div class="columns-1 md:columns-2 gap-6">
    @for (post of displayedPosts; track post.id) {
      <app-post-card [post]="post"/>
    }
  </div>

  @if (totalPages > 1) {
    <div class="flex justify-center items-center gap-2 mt-12 mb-4">
      @for (item of getPageNumbers(); track $index) {
        @if (item === 'prev') {
          <r-button (click)="goToPage(currentPage - 1)" class="w-10 h-10 rounded-lg" [disabled]="currentPage === 1">
            ←
          </r-button>
        } @else if (item === 'next') {
          <r-button (click)="goToPage(currentPage + 1)" class="w-10 h-10 rounded-lg"
                    [disabled]="currentPage === totalPages">
            →
          </r-button>
        } @else if (item === '...') {
          <span class="px-2 text-text-muted">...</span>
        } @else {
          <r-button (click)="goToPage(item)" [type]="currentPage === item ? 'primary' : 'default'"
                    class="w-10 h-10 rounded-lg">
            {{ item }}
          </r-button>
        }
      }
    </div>
  }
</div>