<header class="h-14 bg-bg-page border-b border-border-base flex items-center justify-between px-6 sticky top-0">
  <div class="flex items-center gap-4">
    <button (click)="toggleSidebar()"
            class="hover:cursor-pointer w-8 h-8 flex items-center justify-center text-brand hover:bg-brand-hover rounded-sm border-0">
      <i class="i-mdi:menu text-xl"></i>
    </button>

    <div class="text-brand text-sm hidden lg:block">
      <span>{{ createDate() | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
    </div>
  </div>

  <div class="flex items-center gap-4">
    <a routerLink="/"
       class="flex items-center bg-bg-elevated gap-2 px-3 py-1.5 text-sm text-brand hover:bg-brand rounded transition-colors">
      <i class="i-mdi:web"></i>
      <span>前台</span>
    </a>

    <div class="relative group">
      <button
              class="hover:cursor-pointer border-0 flex items-center gap-2 px-3 py-1.5 text-sm text-text-base hover:bg-brand rounded border border-border-base">
        <img alt="avatar" [ngSrc]="apiService.settings().homeAvatar" width="24" height="24" class="rounded-full"/>
        <span>{{ authService.user$()?.username }}</span>
        <i class="i-mdi:chevron-down text-text-muted"></i>
      </button>

      <div
              class="hidden top-8.6 group-hover:block absolute right-0 min-w-15 min-h-5 right-2 bg-bg-surface border border-border-base rounded-md shadow-lg">
        <button class="hover:cursor-pointer border-0 min-w-23 block px-4 py-2 text-sm text-text-base hover:bg-brand"
                [routerLink]="'/admin/profile'">
          个人资料
        </button>
        <button class="hover:cursor-pointer border-0 min-w-23 block px-4 py-2 text-sm text-red-600 hover:bg-brand-hover"
                (click)="logout()">
          退出登录
        </button>
      </div>
    </div>
  </div>
</header>